# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DATABASE_URL=postgresql://postgres:password@localhost:5432/platform
S3_PUBLIC_URL=https://reserve-room-bucket.s3.ap-southeast-1.amazonaws.com

# CORS Configuration
CORS_ORIGIN=http://localhost:5173

# JWT Configuration (for future auth)
JWT_SECRET=your-secret-key-change-in-production
JWT_EXPIRES_IN=1d
